:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--heading-background-color);
    padding: 1rem;
}

body {
    line-height: 1.6;
    font-family: arial, sans-serif;
}

header,
footer {
    background-color: var(--heading-background-color);
    color: black;
    padding: var(--padding);
    text-align: center;
    font-size: 1.5rem;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #333;
    padding: 10px;
    float: right;
}

aside {
    width: 20em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: beige;
    color: #333;
    text-align: centre;
    margin: 1rem auto;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    margin: 1rem 0;
    color: #000;

}

h2 {
    border-bottom: 1px solid #333;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 15px #333;

}

section {
    margin: 10px;
    border: var(--border);
    padding: var(--padding);
    background-color: var(--heading-background-color);
    font-size: .9rem;
}

ul {
    margin: 20px;
}

footer {
    font-size: .9rem;
    margin-top: 15px;
    border-top: 1px solid var(--heading-text-color);
    text-align: center;
}

/* Class Selectors */
.box {
    position: relative;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    border-radius: 1px;
    overflow: hidden;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-container h2 {
    position: absolute;
    top: 20px;
    left: 20;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1.2rem;
}