* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    font-family: arial, sans-serif;
}

header,
footer {
    background-color: aliceblue;
    color: black;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
    border: #333;
    padding: 10px;
    box-shadow: none;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-overflow: centre;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    margin: 1rem 0;

}

h2 {
    border-bottom: 1px solid #333;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 30px 20px 30px #333;

}

section {
    margin: 10px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 20px;
}

footer {
    font-size: .9rem;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}