* {
    margin: 20;
    padding: 10;

}

head {
    text-align: center;
    margin: 3;
    padding: 4;
}

body {
    font-family: arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: aliceblue;
    color: black;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5px;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 100%;
    height: auto;
}

h2 {
    border-bottom: 1px solid #333;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 30px 20px 30px #333;

}

section {
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 10px);
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 20px 20px;
}

footer {
    font-size: .9rem;
}